body {
    background: url("https://image.ibb.co/goruMp/bg.jpg");
}

p {
    color: white;
}

a {
    color: white;
}

.card {
    border:none;
    background:transparent;
    color: white;
}

.card h5 {
    color: #cf5a5a;
}

.btn-primary {
    border-radius: 0px;
    background: white;
    border-color: #b9b7b794;
    color: #cf5a5a;
}

.btn-primary:hover {
    color:white;
    background: #cf5a5a;
    border-color: #cf5a5a;
}

.navbar {
}

.navbar a {
    font-weight: bold;
    color: white !important;
}

.navbar a:hover {
    color: #cf5a5a !important;
}

.card img {
    margin: 6%;
    border-radius: 0%;
    width: 256px;
    height: auto;
}

#adventure_detail {
    color:white;
}


#adventure_detail h5 {
    color:#cf5a5a;
}

#adventure_detail img {
    max-width: 100%;
}

strong {
    color: #cf5a5a;
}

.map iframe {
    height: 500px;
    width: 100%;
}

table {
    color: white;
}

table input {
    width: 100%;
}



.form-control {
    border-radius: 0px;
    width: 100%;
}

@media screen and (max-width: 992px) {
    .map iframe {
        height: 250px;
        width: 100%;
    }
  }