{% extends "explorers/base.html" %}

{% block content %}

<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-sm-0 col-md-1"></div>
            <div class="col-sm-12 col-md-10">
                <h3>Who we are</h3>
                <p>Adventure Explorers is an organization that unites many adventure activities together and gives our
                    client a superior solution for everything they need on adventure sports in Sri lanka.</p>
            </div>
            <div class="col-sm-0 col-md-1"></div>
        </div>
    </div>
</div>

{% endblock content %}