{% extends "explorers/base.html" %}

{% block content %}

<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-sm-0 col-md-1"></div>
            <div class="col-sm-12 col-md-10">
                <h3>About Adventure Explorers</h3>
                <p>
                    Adventure Explorers is an organization that brings all adventure sports together and stands as your
                    partner for any adventure you are looking for in Sri Lanka.
                </p>
                <p>
                    As we based in Kitulgala, we offer a range of water sports, such as whitewater rafting, waterfall
                    abseiling, canyoning. Further, we also serve as guides for Hiking and Camping for many popular
                    campsites and mountain ranges such as Knuckles, Ella Rock.
                </p>
                <p>
                    The organization is founded by field experts and university graduates in collaboration who share
                    the
                    same interest of eco-tourism. Over time, we have gained associations with other organizations.
                </p>
            </div>
            <div class="col-sm-0 col-md-1"></div>
        </div>
    </div>
</div>

{% endblock content %}