{% extends "explorers/base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-0 col-md-1"></div>
        <div class="col-sm-12 col-md-10">
            <div class="header">
                <h3>Popular Activities with Adventure Explorers</h3>
                <p>We regularly offer rafting, abseiling, cliff jumping, rock sliding and a lot of other water based
                    activites in Kitulgala. Further we also could help you on guiding to Kuckles, Ella Rock, and many
                    other popular mountain ranges in Sri Lanka. </p>
                {% include "explorers/cards.html" with adventures=adventures %}
            </div>
        </div>
        <div class="col-sm-0 col-md-1"></div>
    </div>
</div>


{% endblock content %}