{% extends "explorers/base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-0 col-md-1"></div>
        <div class="col-sm-12 col-md-10">
            <div class="header">
                <h3>Popular Activities</h3>
                <p>Whitewater Rafting, Waterfall Abseiling, Cliff Jumping are some of the water-based activities we offer. You could also reach us for planning a hike to Knuckles, Ella Rock or many other popular peaks.
                </p>
                {% include "explorers/cards.html" with adventures=adventures %}
            </div>
        </div>
        <div class="col-sm-0 col-md-1"></div>
    </div>
</div>


{% endblock content %}