{% extends "explorers/base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-0 col-lg-1">
        </div>
        <div class="col-sm-12 col-lg-10" style="color:white;">
            <img class="d-block w-100" srcset="
                {{ adventure.image.url_desktop }} 1200w,
                {{ adventure.image.url_laptop }} 992w,
                {{ adventure.image.url_tablets}} 768w,
                {{ adventure.image.url_mobile }}
                "
                alt="{{adventure.image.image_alt}}">
            <br>
            <h3>Description</h3>
            {% for item in adventure.description %}
            <p>{{ item }}</p>
            {% endfor %}
            <br>
            <h3>Eligibility</h3>
            {% for item in adventure.eligibility %}
            <p>{{item}}</p>
            {% endfor %}
            <br>
            <h3>Preparations</h3>
            {% for item in adventure.preparation %}
            <p>{{item}}</p>
            {% endfor %}
        </div>
        <div class="col-sm-0 col-lg-1">
        </div>
    </div>
</div>

{% endblock content %}