{% extends 'explorers/base.html' %}
{% load tags %}


{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-0 col-md-1"></div>
        <div class="col-sm-12 col-md-10">
            <div class="article-content">
                {{page.content|show_markdown|safe}}
                <p><i><strong>Article by: {{page.author}}</strong><i></p>
            </div>
        </div>
        <div class="col-sm-0 col-md-1"></div>
    </div>
</div>
<div class="sharethis-inline-share-buttons"></div>
{% endblock content %}

{% block sData %}

<script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": [{
        "@type": "ListItem",
        "position": 1,
        "name": "Home",
        "item": "https://www.adventurexplorers.com"
      },
      {
        "@type": "ListItem",
        "position": 2,
        "name": "Resources",
        "item": "https://www.adventurexplorers.com/articles"
      },
      {
        "@type": "ListItem",
        "position": 3,
        "name": "Resources",
        "item": "https://www.adventurexplorers.com/articles/{{page.page_qualifier}}"
      }]
    }
</script>

<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "Article",
        "author":"{{page.autho}}",
        "headline": "{{page.page_title}}",
        "datePublished":"{{page.created}}",
        "image": "{{page.page_image}}",
        "dateModified": "{{page.pub_date}}",
        "mainEntityOfPage": {
                 "@type": "WebPage",
                 "@id": "{{page.page_url}}"
              },
        "publisher":{
              "@type": "Organization",
              "url": "https://www.adventurexplorers.com",
              "name": "Adventure Explorers",
              "contactPoint": {
                "@type": "ContactPoint",
                "telephone": "+94-76-469-2668",
                "contactType": "customer support"
              },
              "logo": {
                  "type": "ImageObject",
                "url":"https://image.ibb.co/nOVqie/Adventure_Explorers_Logo.jpg"
              },
              "sameAs": [
                "https://www.facebook.com/Adventurexplorers/",
                "https://www.instagram.com/adventureexplorerslanka/",
                "https://twitter.com/AdExplorers",
                "https://plus.google.com/communities/106623692637154718247"
              ],
              "description": "Adventure Explorers is an organization of professionals for adventure sports in Sri Lanka. Whitewater Rafting in Kitulgala, Abseiling, Hiking & Camping on many popular waterfalls and mountain ranges are some of the popular activities offered by Adventure Explorers."
            }
        }
</script>
{% endblock sData %}