<div class="container">
    <div class="row">

        {% for adventure in adventures %}
        <div class="col-sm-12 col-md-6 col-lg-3 col-xl-4">
            <div class="card mb-4" style="width: 100%">
                <img class="card-img-top img-thumbnail" data-src="{{adventure.thumbnail}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{adventure.title}}</h5>
                    <p class="card-text">{{adventure.page_description}}</p>
                    <a href="{{adventure.page_url}}" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</div>
<br>