{% extends "explorers/base.html" %}

{% block content %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
    crossorigin="anonymous">
<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-sm-0 col-md-1"></div>
            <div class="col-sm-12 col-md-10">
                <h3>Contact Adventure Explorers</h3>
                <p>Adventure Explorers team is ready to serve you at any time on any adventure sports needs. Call us
                    and have a chat with us. Explore more in Sri Lanka. Enjoy your adventurous life. </p>
            </div>
            <div class="col-sm-0 col-md-1"></div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <form action="/contact_form" method="POST" class="px-0">
                {% csrf_token %}

                <div class="table-wrap">
                    <table>
                        <col width="30%">
                        <col width="70%">
                        {{ form }}

                    </table>

                    <br>
                    <div>
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </div>
                    <br>
                </div>
            </form>
        </div>
        <div class="col-md-6 col-sm-12">
            <strong>Adventure Explorers</strong>
            <p><span><i class="fas fa-map-marked-alt"></i></span> Hatton Road, Kalukohotanna, Kitulgala</p>
            <a href="tel:(+94) 71 083 5686"><i class="fas fa-mobile-alt"></i> (+94) 71 083 5686</a>
            <br>
            <a href="mailto:info@adventurexplorers.com"><i class="fas fa-envelope"></i> info@adventurexplorers.com</a>
            <br>
            <div class="pages mt-4">
                <a class="mr-2" href="https://www.facebook.com/Adventurexplorers/"><i class="fab fa-facebook-square"></i></a>
                <a class="mr-2" href="https://twitter.com/AdExplorers"><i class="fab fa-twitter-square"></i></a>
                <a class="mr-2" href="https://www.instagram.com/adventureexplorerslanka/"><i class="fab fa-instagram"></i></a>
                <a class="mr-2" href="https://plus.google.com/communities/106623692637154718247"><i class="fab fa-google-plus-square"></i></a>

            </div>
            <br>
            <p><strong> Additional Phone Numbers </strong></p>
            <a href="tel:(+94) 71 615 2856"><i class="fas fa-mobile-alt"></i> (+94) 71 615 2856 - Thuwarakesh</a>
            <br>
            <a href="tel:(+94) 71 968 9311"><i class="fas fa-mobile-alt"></i> (+94) 71 968 9311 - Sandaruwan</a>
        </div>
    </div>
</div>

<br>
<div class="map px-2">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15840.546072323457!2d80.4180924!3d6.9931978!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x1dad87963c0b3407!2sAdventure+Explorers!5e0!3m2!1sen!2slk!4v1537788561989"
        frameborder="2" style="border:15" allowfullscreen>
    </iframe>
</div>
{% endblock content %}

{% block sData %}
<script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": [{
        "@type": "ListItem",
        "position": 1,
        "name": "Home",
        "item": "https://www.adventurexplorers.com"
      },
      {
        "@type": "ListItem",
        "position": 2,
        "name": "Contact",
        "item": "https://www.adventurexplorers.com/contact"
      }]
    }
    </script>

<script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "url": "https://www.adventurexplorers.com",
      "name": "Adventure Explorers",
      "contactPoint": {
        "@type": "ContactPoint",
        "telephone": "+94-76-469-2668",
        "contactType": "customer support"
      },
      "logo": "https://image.ibb.co/nOVqie/Adventure_Explorers_Logo.jpg",
      "sameAs": [
        "https://www.facebook.com/Adventurexplorers/",
        "https://www.instagram.com/adventureexplorerslanka/",
        "https://twitter.com/AdExplorers",
        "https://plus.google.com/communities/106623692637154718247"
      ],
      "description": "Adventure Explorers is an organization of professionals for adventure sports in Sri Lanka. Whitewater Rafting in Kitulgala, Abseiling, Hiking & Camping on many popular waterfalls and mountain ranges are some of the popular activities offered by Adventure Explorers."
    }
</script>
{% endblock sData %}