{% extends "explorers/base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-0 col-md-1"></div>
        <div class="col-sm-12 col-md-10">
            <div class="header">
                <h3>Events by Adventure Explorers</h3>
                <p>Adventure Explorers frequently organizing special events such as exploring rarely visited mountains, re-forestation activity, environmental awareness program, etc. Make sure you are with us our next event.</p>
            </div>
            {% include "explorers/cards.html" with adventures=events %}
        </div>
        <div class="col-sm-0 col-md-1"></div>
    </div>
</div>
{% endblock content %}

{% block sData %}
<script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": [{
        "@type": "ListItem",
        "position": 1,
        "name": "Home",
        "item": "https://www.adventurexplorers.com"
      },
      {
        "@type": "ListItem",
        "position": 2,
        "name": "Events",
        "item": "https://www.adventurexplorers.com/events"
      }]
    }
    </script>
{% endblock sData %}