{% extends "explorers/base.html" %}

{% block content %}

<div class="container" id='event_detail'>
    <div class="row">
        <div class="col-sm-0 col-lg-1">
        </div>
        <div class="col-sm-12 col-lg-10">

            <picture>
                <source media="(min-width: 1200px)" srcset="https://image.ibb.co/cVK3Mp/Untitled_drawing_2_1.png"
                    data-srcset="{{ event.image.url_desktop }}">
                <source media="(min-width: 992px)" srcset="https://image.ibb.co/cVK3Mp/Untitled_drawing_2_1.png"
                    data-srcset="{{ event.image.url_laptop }}">
                <source media="(min-width: 768px)" srcset="https://image.ibb.co/cVK3Mp/Untitled_drawing_2_1.png"
                    data-srcset="{{ event.image.url_tablets}}">
                <img class="d-block w-100 img-fluid" src="https://image.ibb.co/cVK3Mp/Untitled_drawing_2_1.png"
                    data-src="{{ event.image.url_mobile }}" alt="{{ event.image.image_alt }}">
            </picture>

            <br>

            <h5>{{event.title}}</h5>
            {% for item in event.description %}
            <p>{{ item }}</p>
            {% endfor %}


            {% if status %}
            <p><strong style="color:red;"> This event is closed now. You may request for another episode!</strong></p>
            {% endif %}

            <br>
            <p>Cost per person: <strong> LKR {{ event.cost }}.00</strong> <br> * <i>Discounts may be available with
                    conditions</i></p>
            <p>Instructor incharge: <strong> {{ event.instructor.name }}</strong></p>
            <p>Event Starting: {{ event.event_start_date }}</p>
            <p>Event Finishing: {{ event.event_end_date }}</p>
            <p>Gathering Place: {{ event.event_start_place }}</p>
            <p>Destination: {{ event.event_destination }}</p>
            <a href="/contact" class="btn btn-primary float-right">Contact Us</a>
            <a href="/policies" class="btn btn-primary float-right mx-2">Our Policies</a>


        </div>
        <div class="col-sm-0 col-lg-1">
        </div>
    </div>
</div>

{% endblock content %}

{% block sData %}
<script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": [{
        "@type": "ListItem",
        "position": 1,
        "name": "Home",
        "item": "https://www.adventurexplorers.com"
      },
      {
        "@type": "ListItem",
        "position": 2,
        "name": "Events",
        "item": "https://www.adventurexplorers.com/events"
      },
      {
        "@type": "ListItem",
        "position": 3,
        "name": "{{page.page_qualifier}}",
        "item": "https://www.adventurexplorers.com/events/{{page.page_qualifier}}"
      }]
    }
    </script>
    <script type="application/ld+json">

    {
    "@context": "http://schema.org",
    "@type": "Event",
    "description": "{{ event.description }}",
    "endDate": "{{ event.event_end_date }}",
    "startDate": "{{ event.event_start_date }}",
    "name":"{{ event.title }}",
    "image": [
    "{{ event.page_image }}"
    ],
    "location" : {
        "@type" : "Place",
        "name" : "{{ event.event_destination }}",
        "address" : "Colombo, Sri Lanka"
    },
    "offers": {
        "@type": "Offer",
        "price": "{{ event.cost }}",
        "priceCurrency":"LKR",
        "availability": "http://schema.org/InStock",
        "url":"https://www.adventurexplorers.com/{{ page.page_url }}",
        "validFrom": "{{ event.event_start_date }}"
        },
    "performer":{
        "@type": "Organization",
        "url": "https://www.adventurexplorers.com",
        "name": "Adventure Explorers",
        "contactPoint": {
            "@type": "ContactPoint",
            "telephone": "+94-76-469-2668",
            "contactType": "customer support"
        },
        "logo": "https://image.ibb.co/nOVqie/Adventure_Explorers_Logo.jpg",
        "sameAs": [
            "https://www.facebook.com/Adventurexplorers/",
            "https://www.instagram.com/adventureexplorerslanka/",
            "https://twitter.com/AdExplorers",
            "https://plus.google.com/communities/106623692637154718247"
        ],
        "description": "Adventure Explorers is an organization of professionals for adventure sports in Sri Lanka. Whitewater Rafting in Kitulgala, Abseiling, Hiking & Camping on many popular waterfalls and mountain ranges are some of the popular activities offered by Adventure Explorers."
        }
    }
    </script>
{% endblock sData %}