{% extends "explorers/base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-0 col-md-1"></div>
        <div class="col-sm-12 col-md-10">
            <div class="header">
                <h3>Clicks of Adventure Explorers</h3>
                <p>A gallary of albums during various events and activities by Adventure Explroers</p>
            </div>

            {% include "explorers/cards.html" with adventures=albums %}
        </div>
        <div class="col-sm-0 col-md-1"></div>
    </div>
</div>


{% endblock content %}