{% extends "explorers/base.html" %}


{% block content %}


<div class="container h-100">
    <div class="row">
        <div class="col-sm-0 col-lg-1">

        </div>
        <div class="col-sm-12 col-lg-10">
            <div id="carouselExampleControls" class="carousel slide wow bounceInUp" data-ride="carousel">
                <div class="carousel-inner">
                    {% for imageset in carousel %}
                    {% if not forloop.counter0 %}
                    <div class="carousel-item active">
                        <picture>
                            <source media="(min-width: 1200px)" srcset="https://image.ibb.co/cVK3Mp/Untitled_drawing_2_1.png"
                                data-srcset="{{ imageset.url_desktop }}">
                            <source media="(min-width: 992px)" srcset="https://image.ibb.co/cVK3Mp/Untitled_drawing_2_1.png"
                                data-srcset="{{ imageset.url_laptop }}">
                            <source media="(min-width: 768px)" srcset="https://image.ibb.co/cVK3Mp/Untitled_drawing_2_1.png"
                                data-srcset="{{ imageset.url_tablets}}">
                            <img src="https://image.ibb.co/cVK3Mp/Untitled_drawing_2_1.png" data-src="{{ imageset.url_mobile }}"
                                alt="{{ imageset.image_alt }}" class="d-block w-100 img-fluid">
                        </picture>
                    </div>

                    {% else %}
                    <div class="carousel-item">
                        <picture>
                            <source media="(min-width: 1200px)" srcset="https://image.ibb.co/cVK3Mp/Untitled_drawing_2_1.png"
                                data-srcset="{{ imageset.url_desktop }}">
                            <source media="(min-width: 992px)" srcset="https://image.ibb.co/cVK3Mp/Untitled_drawing_2_1.png"
                                data-srcset="{{ imageset.url_laptop }}">
                            <source media="(min-width: 768px)" srcset="https://image.ibb.co/cVK3Mp/Untitled_drawing_2_1.png"
                                data-srcset="{{ imageset.url_tablets}}">
                            <img src="https://image.ibb.co/cVK3Mp/Untitled_drawing_2_1.png" data-src="{{ imageset.url_mobile }}"
                                alt="{{ imageset.image_alt }}" class="d-block w-100 img-fluid">
                        </picture>
                    </div>
                    {% endif %}

                    {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="col-sm-0 col-lg-1">

        </div>
    </div>
</div>
<div class="container wow bounceInUp" data-wow-delay="1s">
    <div class="row">
        <div class="col-sm-0 col-md-1"></div>
        <div class="col-sm-12 col-md-10">
            <div class="header">
                <h3>Adventure Explorers – Professionals for Adventure Sports in Sri Lanka</h3>
                <p>Your partner for all your thrilling adventures. Join us and enjoy whitewater rafting, waterfall
                    abseiling, cliff jumping, hiking & camping and a lot more. We will guide you with our experienced
                    and certified field experts to be safe and to be fun. </p>
            </div>
        </div>
        <div class="col-sm-0 col-md-1"></div>
    </div>
</div>
<br>
<div class="container">
    <div class="row">
        <div class="col-sm-0 col-lg-1">
        </div>
        <div class="col-sm-12 col-lg-10">
            {% include "explorers/cards.html" with adventures=adventures %}
        </div>
        <div class="col-sm-0 col-lg-1">
        </div>
    </div>
</div>

{% endblock content %}

{% block sData %}
<script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "url": "https://www.adventurexplorers.com",
      "name": "Adventure Explorers",
      "contactPoint": {
        "@type": "ContactPoint",
        "telephone": "+94-76-469-2668",
        "contactType": "customer support"
      },
      "logo": "https://image.ibb.co/nOVqie/Adventure_Explorers_Logo.jpg",
      "sameAs": [
        "https://www.facebook.com/Adventurexplorers/",
        "https://www.instagram.com/adventureexplorerslanka/",
        "https://twitter.com/AdExplorers",
        "https://plus.google.com/communities/106623692637154718247"
      ],
      "description": "Adventure Explorers is an organization of professionals for adventure sports in Sri Lanka. Whitewater Rafting in Kitulgala, Abseiling, Hiking & Camping on many popular waterfalls and mountain ranges are some of the popular activities offered by Adventure Explorers."
    }
</script>

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [{
    "@type": "ListItem",
    "position": 1,
    "name": "Home",
    "item": "https://www.adventurexplorers.com"
  }]
}
</script>
{% endblock sData %}