{% extends "explorers/base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-0 col-md-1"></div>
        <div class="col-sm-12 col-md-10">
            <h3>Adventure Explorers Policies and Guidelines</h3>
            <h5>Environmental Protection Policies</h5>
            <ul>
                <li>
                    <p>Adventure Explorers team and its clients shall always act in a way to make its environmental
                        effects to an absolute minimum.</p>
                </li>
                <li>
                    <p>The killing of wild animals or removal of plants is strictly prohibited under all circumstances.</p>
                </li>
                <li>
                    <p>Polyethene and Plastic usage shall be on an absolute minimum level.</p>
                </li>
                <li>
                    <p>Leaving Polyethene, Plastic, Can, or any other belongings in the activity premises is strictly
                        prohibited.</p>
                </li>
                <li>
                    <p>Possessing any living or non-living things from the activity premises is strictly prohibited.</p>
                </li>
                <li>
                    <p>Writing on rocks or creating signs and marks in activity premises is strictly prohibited.</p>
                </li>
            </ul>

            <h5>Behavioral and Cultural Policies</h5>
            <ul>
                <li>
                    <p>Participants are expected to behave in a friendly manner towards each other.</p>
                </li>
                <li>
                    <p>Participants shall not consume, or not under the control of alcohol or any other abusive drug
                        during the activity.</p>
                </li>
                <li>
                    <p>In the event of a conflict, or critical decision-making participants shall always obey the
                        decision made by the guide in charge.</p>
                </li>
                <li>
                    <p>Adventure Explorers will not defend you for breaching the governing laws of the country.</p>
                </li>
                <li>
                    <p>Participants who aren’t deliberately following the instructions of the instructor or breaching
                        our policy guidelines may subject to termination of the activity contract at any time. </p>
                </li>
                <li>
                    <p>Harassment in general, sexual harassment in special towards another participant is strictly
                        prohibited. </p>
                </li>
            </ul>

            <h5>Safety Guidelines</h5>
            <ul>
                <li>
                    <p>Adventure explorers will equip everyone with proper safety measures before every activity.</p>
                </li>
                <li>
                    <p>Adventure explorers will not allow anyone to participate in its activities, if the participant
                        do not follow the safety instructions of the instructor.</p>
                </li>
                <li>
                    <p>Adventure Explorers will provide basic first aid requirements.</p>
                </li>
                <li>
                    <p>Adventure Explorers will not provide special medications that might be a unique requirement for
                        specific participants.</p>
                </li>

            </ul>
            <h5>Finance and Refund Policies & Guidelines</h5>
            <ul>
                <li>
                    <p>Adventure Explorers will not charge beyond the budget specified at any point in time.</p>
                </li>
                <li>
                    <p>Participants may be eligible for a discount depending on the number of participants and special
                        offers.</p>
                </li>
                <li>
                    <p>Adventure Explorers will send you an e-mail receipt to your email address, on your request.</p>
                </li>
                <li>
                    <p>Below are the only account details used for cash deposits</p>
                </li>
                <ul>
                    <li>
                        <p>Nations Trust Bank
                            <br>
                            Thuwarakesh M – 2000 6006 7856</p>
                    </li>
                    <li>
                        <p>HSBC Bank
                            <br>
                            Thuwarakesh M – 001 891845 040</p>
                    </li>
                    <li>
                        <p>Sampath Bank
                            <br>
                            Thuwarakesh M – 1001 5474 9773</p>
                    </li>
                    <li>
                        <p>Commercial Bank
                            <br>
                            Sanjeewa A – 8210019918</p>
                    </li>
                </ul>
                <li>
                    <p>If it is a direct deposit, the depositor is advised to mention the name and the reason clearly
                        on the remarks.</p>
                </li>
                <li>
                    <p>If it is a direct deposit, the depositor is advised to send the document of deposit to one of
                        the adventure explorers official contacts. See our contacts page for more details.</p>
                </li>
                <li>
                    <p>In the event of cancelation of an event by adventure explorers, participants are eligible to
                        reclaim their deposit.</p>
                </li>
                <li>
                    <p>In the event of cancelation of an event by adventure explorers, participants may request to hold
                        their money, for the next event.</p>
                </li>
                <li>
                    <p>If an event requires a non-refundable deposit, and the participant could not attend the event,
                        their deposit will not be refunded.</p>
                </li>
                <li>
                    <p>If an event requires a non-refundable deposit, and the participant commits any breach to our
                        policies, they may not be eligible for a reclaim, even on an activity contract termination. </p>
                </li>
                <li>
                    <p>Non-refundable deposits and activity payments are not transferable to another person, unless if
                        adventure explorers offer it by writing.</p>
                </li>

            </ul>

            <h5>Program Eligibility Guidelines</h5>
            <ul>
                    <li><p>Participants are expected to be in good physical and mental health.</p></li>
                    <li><p>Participants should not be under the control of alcohol or any other abusive drug.</p></li>
                    <li><p>Participants should satisfy the minimum age requirement, which is 14, if not specified.</p></li>
                    <li><p>Pregnant ladies are not allowed to participate in adventures. However, they may be eligible for other events and activities organized by adventure explorers.</p></li>
                    
            </ul>

            <h5>General Policies</h5>
            <ul>
                    <li><p>Adventure explorers may use photos and videos during the activity in its publications.</p></li>
                    <li><p>Participants may request adventure explorers not to publish their photos and videos.</p></li>
                    <li><p>Photos and videos taken by the participants can be published anywhere by the participants without any restriction from adventure explorers.</p></li>
                    <li><p>Adventure explorers team requests participants to tag the brand name whenever possible while sharing photos and videos taken during an adventure explorers’ event. However, it is completely optional.</p></li>
                    
            </ul>

        </div>
        <div class="col-sm-0 col-md-1"></div>
    </div>
</div>

{% endblock content %}
{% block sData %}
<script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": [{
        "@type": "ListItem",
        "position": 1,
        "name": "Home",
        "item": "https://www.adventurexplorers.com"
      },
      {
        "@type": "ListItem",
        "position": 2,
        "name": "Policies",
        "item": "https://www.adventurexplorers.com/policies"
      }]
    }
    </script>
{% endblock sData %}